@model RecipeIngredientsViewModel
@using Web.Controllers.RecipeIngredients

<div class="list-group">
    @foreach (var userRecipeIngredient in Model.UserRecipeIngredients)
    {
        <a asp-action="@nameof(RecipeIngredientsController.ManageRecipeIngredient)" asp-controller="@RecipeIngredientsController.Name"
           asp-route-recipeIngredientId="@userRecipeIngredient.RecipeIngredient.Id" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token"
           class="list-group-item @(userRecipeIngredient.RecipeIngredient.Optional ? "list-group-item-dark" : "list-group-item-primary") list-group-item-action allow-demo">
            <div class="row gx-3 gy-1 justify-content-between">
                <div class="col-auto font-weight--bold">@userRecipeIngredient.RecipeIngredient.Name</div>
                @if (userRecipeIngredient.Ignore)
                {
                    <div class="col-auto d-flex align-items-center"><small class="badge bg-secondary rounded-pill">Ignored</small></div>
                } 
                else if (userRecipeIngredient.SubstituteIngredientId.HasValue || userRecipeIngredient.SubstituteRecipeId.HasValue)
                {
                    <div class="col-auto d-flex align-items-center">
                        <small class="badge bg-primary rounded-pill">@(userRecipeIngredient.SubstituteIngredient?.Name ?? userRecipeIngredient.SubstituteRecipe?.Name)</small>
                    </div>
                }
            </div>
            @if (!string.IsNullOrWhiteSpace(userRecipeIngredient.Notes ?? userRecipeIngredient.RecipeIngredient.Attributes))
            {
                <div><small>@(userRecipeIngredient.Notes ?? userRecipeIngredient.RecipeIngredient.Attributes)</small></div>
            }
        </a>
    }
</div>