@model RecipeIngredientsViewModel
@using System.Numerics
@using Core.Models.Recipe
@using Core.Consts
@using Web.Controllers.RecipeIngredients

<h5 class="mb-1">Manage Recipe Ingredients</h5>
<div class="list-group mb-3">
    @foreach (var recipeIngredient in Model.UserRecipeIngredients)
    {
        <a asp-action="@nameof(RecipeIngredientController.ManageRecipeIngredient)" asp-controller="@RecipeIngredientController.Name"
           asp-route-recipeIngredientId="@recipeIngredient.RecipeIngredient.Id" asp-route-email="@Model.Parameters.Email" asp-route-token="@Model.Parameters.Token"
           class="list-group-item @(recipeIngredient.RecipeIngredient.Optional ? "list-group-item-dark" : "list-group-item-primary") list-group-item-action allow-demo">
            <div class="row gx-3 gy-1">
                <div class="col"><b>@(recipeIngredient.RecipeIngredient.Ingredient?.Name ?? recipeIngredient.RecipeIngredient.IngredientRecipe.Name)</b></div>
                @if (recipeIngredient.Ignore)
                {
                    <div class="col-auto d-flex align-items-center"><small class="badge bg-dark rounded-pill">Ignored</small></div>
                } 
                else if (recipeIngredient.SubstituteIngredientId.HasValue || recipeIngredient.SubstituteRecipeId.HasValue)
                {
                    <div class="col-auto d-flex align-items-center">
                        <small class="badge bg-dark rounded-pill">@(recipeIngredient.SubstituteIngredient?.Name ?? recipeIngredient.SubstituteRecipe?.Name)</small>
                    </div>
                }
            </div>
            @if (!string.IsNullOrWhiteSpace(recipeIngredient.Notes))
            {
                <div><small>@recipeIngredient.Notes</small></div>
            }
        </a>
    }
</div>