@model RecipeIngredientsViewModel
@using System.Numerics
@using Core.Models.Recipe
@using Core.Consts
@using Web.Controllers.RecipeIngredients

<h5 class="mb-1">Manage Recipe Ingredients</h5>
<div class="list-group mb-3">
    @foreach (var recipeIngredient in Model.RecipeIngredients)
    {
        <a asp-action="@nameof(RecipeIngredientController.ManageRecipeIngredient)" asp-controller="@RecipeIngredientController.Name"
           asp-route-recipeIngredientId="@recipeIngredient.Id" asp-route-email="@Model.Parameters.Email" asp-route-token="@Model.Parameters.Token"
           class="list-group-item list-group-item-dark list-group-item-action allow-demo">
            <div class="row gx-3 gy-1">
                <h6 class="mb-1 font-weight--normal">@(recipeIngredient.Ingredient?.Name ?? recipeIngredient.IngredientRecipe.Name)</h6>
            </div>
        </a>
    }
</div>