@model ManageIngredientViewModel
@using Core.Models.Recipe
@using Web.Controllers.Ingredient
@using Web.Code.Extensions

<h5 class="mb-1">@(Model.Ingredient.Id == default ? "New" : "Edit") Ingredient</h5>
<div class="alert alert-light shadow mb-3" role="alert">
    <form id="recipe-form" asp-controller="@UserController.Name" asp-action="@nameof(UserController.ManagePost)" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" method="post">
        <input asp-for="Ingredient.Id" type="hidden" class="form-control" />

        <div class="form-group mb-3">
            <label asp-for="Ingredient.Name" class="control-label">Name</label>
            <input asp-for="Ingredient.Name" type="text" class="form-control" required="required" />
        </div>
        <div class="form-group mb-3">
            <label asp-for="Ingredient.Notes" class="control-label">Notes</label>
            <input asp-for="Ingredient.Notes" type="text" class="form-control" />
        </div>

        <div class="form-group mb-3">
            <label asp-for="Ingredient.AllergenBinder" class="control-label">@Html.DisplayNameFor(_ => Model.Ingredient.Allergens)</label>
            <select asp-for="Ingredient.AllergenBinder" class="form-control overflow-auto" aria-describedby="verbosity-help" size="5"
                    asp-items="@(EnumExtensions.GetSingleValues32<Allergy>().AsSelectListItems32(EnumViewExtensions.EnumOrdering.Text))">
            </select>
            <span asp-validation-for="Ingredient.AllergenBinder" class="text-danger"></span>
            <div id="verbosity-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.Ingredient.Allergens)</div>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Ingredient.NutrientBinder" class="control-label">@Html.DisplayNameFor(_ => Model.Ingredient.Nutrients)</label>
            <select asp-for="Ingredient.NutrientBinder" class="form-control overflow-auto" aria-describedby="verbosity-help" size="10"
                    asp-items="@(EnumExtensions.GetSingleValues32<Nutrient>().AsSelectListItems32(EnumViewExtensions.EnumOrdering.Text))">
            </select>
            <span asp-validation-for="Ingredient.NutrientBinder" class="text-danger"></span>
            <div id="verbosity-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.Ingredient.Nutrients)</div>
        </div>
    </form>

    <div class="row form-group justify-content-end gy-2">
        <div class="col">
            <input type="submit" value="Save" class="btn btn-secondary" form="recipe-form" />
        </div>
    </div>
</div>
