@model NutrientViewModel

@if (Model.User.IsDemoUser)
{
    <div class="alert alert-info callout">
        Customize how much of each nutrient to consume. Recipes are automatically adjusted to remove nutrient imbalances.
    </div>
}

<div class="row align-items-center">
    <div class="col">
        <h5 class="mb-0">Weekly Nutritional Targets</h5>
        <h6 class="mb-1 font-weight--normal">@Model.Weeks week rolling average</h6>
    </div>
    <div class="col-auto">
        <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.ClearNutrientTargetData)" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <button class="btn btn-icon" type="submit" title="Clear nutritional data">
                <img class="flip-x" src="/images/user/reset.svg">
            </button>
        </form>
    </div>
</div>
<div class="alert alert-primary" role="alert">
    <div class="d-flex flex-column" style="row-gap:1ex;">
        @foreach (var nutrientTarget in NutrientHelpers.All
            .Where(kv => kv.HasDisplay(DisplayType.Name))
            .Select(kv => Model.GetNutrientTarget(kv))
            .OrderBy(nt => nt.NutrientGroup.GetOrder())
            .ThenByDescending(nt => nt.ShowButtons ? nt.Start : nt.DefaultStart)
            .ThenByDescending(nt => nt.ShowButtons ? nt.End : nt.DefaultEnd)
            .ThenBy(nt => nt.NutrientGroup.GetSingleDisplayName(DisplayType.GroupName))
            .ThenBy(nt => nt.NutrientGroup.GetSingleDisplayName(DisplayType.Name)))
        {
            <div class="d-sm-flex d-lg-block d-xl-flex flex-wrap nutrient-range-container" style="column-gap:1ch;">
                <div class="d-flex flex-column" style="flex:1 0 15ch;line-height:1.25;">
                    <div class="d-flex justify-content-between gap-2">
                        <span>@nutrientTarget.NutrientGroup.GetSingleDisplayName(DisplayType.ShortName)</span>
                        <div class="d-flex d-sm-none d-lg-flex d-xl-none">
                            <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.ResetNutrientRanges)" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" asp-route-nutrient="@nutrientTarget.NutrientGroup" method="post">
                                <button class="btn btn-icon reset-btn" type="submit" @(nutrientTarget.ShowButtons ? "" : "disabled")>
                                    <img src="/images/user/restore-filled.svg">
                                </button>
                            </form>

                            <button class="btn btn-icon save-btn" type="submit" form="save-@nutrientTarget.NutrientGroup" @(nutrientTarget.ShowButtons ? "" : "disabled")>
                                <img src="/images/user/save.svg">
                            </button>
                        </div>
                    </div>
                    <div class="small text-muted d-none">
                        <span class="start-value" data-orig="@Math.Round(nutrientTarget.Start, 1, MidpointRounding.ToZero)" data-default="@Math.Round(nutrientTarget.DefaultStart, 1, MidpointRounding.ToZero)">@nutrientTarget.Start</span>%
                        –
                        <span class="end-value" data-orig="@Math.Round(nutrientTarget.End, 1, MidpointRounding.ToZero)" data-default="@Math.Round(nutrientTarget.DefaultEnd, 1, MidpointRounding.ToZero)">@nutrientTarget.End</span>%
                    </div>
                </div>

                <div class="d-flex align-items-center" style="flex:99999 0 275px;gap:1ch;">
                    <div class="d-flex justify-content-between">
                        <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.ResetNutrientRanges)" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" asp-route-nutrient="@nutrientTarget.NutrientGroup" method="post"
                              class="d-none d-sm-flex d-lg-none d-xl-flex">
                            <button class="btn btn-icon reset-btn" type="submit" @(nutrientTarget.ShowButtons ? "" : "disabled")>
                                <img src="/images/user/restore-filled.svg">
                            </button>
                        </form>

                        <button class="btn btn-icon minus-lower" type="button" @(nutrientTarget.ShowButtons ? "" : "disabled")>
                            <img src="/images/user/minus.svg">
                        </button>

                        <button class="btn btn-icon add-lower" type="button" @(nutrientTarget.ShowButtons ? "" : "disabled")>
                            <img src="/images/user/add.svg">
                        </button>
                    </div>

                    <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.SaveNutrientTargets)" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" asp-route-nutrient="@nutrientTarget.NutrientGroup" method="post"
                          id="save-@nutrientTarget.NutrientGroup" class="w-100 h-auto d-flex position-relative">
                        
                        <input type="hidden" name="DefaultStart" value="@nutrientTarget.DefaultStart" />
                        <input type="hidden" name="DefaultEnd" value="@nutrientTarget.DefaultEnd" />

                        <input type="range" name="Start" class="range-slider range-start" @(nutrientTarget.ShowButtons ? "" : "disabled='disabled'")
                               min="@NutrientConsts.NutrientTargetMin" max="@NutrientConsts.NutrientTargetMax" step="@NutrientConsts.NutrientTargetStep"
                               value="@Math.Round(nutrientTarget.Start, 1, MidpointRounding.ToZero)" />

                        <input type="range" name="End" class="range-slider range-end" @(nutrientTarget.ShowButtons ? "" : "disabled='disabled'")
                               min="@NutrientConsts.NutrientTargetMin" max="@NutrientConsts.NutrientTargetMax" step="@NutrientConsts.NutrientTargetStep"
                               value="@Math.Round(nutrientTarget.End, 1, MidpointRounding.ToZero)" />
                        
                        <div class="range-track">
                            <div class="range-unselected" style="background-color:@nutrientTarget.Color;"></div>
                            <div class="range-selected"></div>

                            <div class="tick rda form-text mt-0" style="left:clamp(0%, @nutrientTarget.DefaultStart%, 100%)"></div>
                            <div class="tick tul form-text mt-0" style="left:clamp(0%, @nutrientTarget.DefaultEnd%, 100%)"></div>
                            <div class="actual-value" style="left:clamp(0%, @nutrientTarget.ValueInRange%, 100%);color:@nutrientTarget.Color;">&#9660;</div>
                        </div>
                    </form>

                    <div class="d-flex justify-content-between">
                        <button class="btn btn-icon minus-upper" type="button" @(nutrientTarget.ShowButtons ? "" : "disabled")>
                            <img src="/images/user/minus.svg">
                        </button>

                        <button class="btn btn-icon add-upper" type="button" @(nutrientTarget.ShowButtons ? "" : "disabled")>
                            <img src="/images/user/add.svg">
                        </button>

                        <button class="btn btn-icon save-btn d-none d-sm-flex d-lg-none d-xl-flex" type="submit" form="save-@nutrientTarget.NutrientGroup" @(nutrientTarget.ShowButtons ? "" : "disabled")>
                            <img src="/images/user/save.svg">
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr>
    <details>
        <summary>Recipes are being automatically adjusted to match your nutrient targets.</summary>

        <div class="mt-3 small">
            <div class="mb-3">The lower tick mark represents the Recommended Daily Allowance (RDA). The upper tick mark represents the Tolerable Upper Limit (TUL).</div>
            <div>Dietary reference intakes are averaged across all family members. If no TUL is available, the upper limit is set to double that of the RDA.</div>
        </div>
    </details>
    <div></div>
</div>

<script type="module">
    document.querySelectorAll(".nutrient-range-container").forEach(container => {
        const selected = container.querySelector(".range-selected");
        const start = container.querySelector(".range-start");
        const end = container.querySelector(".range-end");
        const saveButtons = container.querySelectorAll(".save-btn");
        const resetButtons = container.querySelectorAll(".reset-btn");
        const minusLower = container.querySelector(".minus-lower");
        const addLower = container.querySelector(".add-lower");
        const minusUpper = container.querySelector(".minus-upper");
        const addUpper = container.querySelector(".add-upper");

        function updateOnHold(button, callback, delay = 50) {
            let timeout, interval;

            const start = (e) => {
                callback();

                timeout = setTimeout(() => {
                    interval = setInterval(callback, delay);
                }, 250);
            };

            const stop = () => {
                clearTimeout(timeout);
                clearInterval(interval);
            };

            button.addEventListener('click', callback);
            button.addEventListener('contextmenu', (e) => e.preventDefault());

            button.addEventListener('mousedown', start);
            button.addEventListener('mouseleave', stop);
            button.addEventListener('mouseup', stop);

            button.addEventListener('touchstart', start);
            button.addEventListener('touchcancel', stop);
            button.addEventListener('touchend', stop);
        }

        function update(event, clamps, callback) {
            let startVal = Number(start.value);
            let endVal = Number(end.value);

            if (clamps && Math.abs(startVal - endVal) < 10) {
                return;
            }

            selected.style.left = startVal + "%";
            selected.style.width = (endVal - startVal) + "%";

            const startValue = container.querySelector(".start-value");
            startValue.textContent = startVal.toFixed(2);

            const endValue = container.querySelector(".end-value");
            endValue.textContent = endVal.toFixed(2);

            if (Number(startVal) === Number(startValue.dataset.orig) && Number(endVal) === Number(endValue.dataset.orig)) {
                saveButtons.forEach(btn => btn.setAttribute('disabled', 'disabled'));
            } else {
                saveButtons.forEach(btn => btn.removeAttribute('disabled'));
            }

            if (Number(startVal) === Number(startValue.dataset.default) && Number(endVal) === Number(endValue.dataset.default)) {
                resetButtons.forEach(btn => btn.setAttribute('disabled', 'disabled'));
            } else {
                resetButtons.forEach(btn => btn.removeAttribute('disabled'));
            }

            if (callback) {
                callback();
            }
        }

        updateOnHold(minusLower, (e) => update(e, false, () => start.value = Number(start.value) - @NutrientConsts.NutrientTargetStep));
        updateOnHold(addLower, (e) => update(e, true, () => start.value = Number(start.value) + @NutrientConsts.NutrientTargetStep));
        updateOnHold(minusUpper, (e) => update(e, true, () => end.value = Number(end.value) - @NutrientConsts.NutrientTargetStep));
        updateOnHold(addUpper, (e) => update(e, false, () => end.value = Number(end.value) + @NutrientConsts.NutrientTargetStep));

        start.addEventListener("input", update);
        end.addEventListener("input", update);

        update();
    });
</script>