@model IngredientsViewModel
@using ViewModels.Ingredient
@using System.Numerics
@using Web.Controllers.Ingredient
@using Core.Models.Recipe
@using Web.Code.Extensions
@using Core.Models.User
@using Core.Models

@{
    ViewData[ViewData_Blank.Title] = "Ingredients";
}

<details class="alert alert-secondary mb-0" style="position:fixed;top:0;right:0;z-index:1;overflow:auto;max-height:100vh;">
    <summary class="cursor--pointer">@(Model.FormHasData ? "*" : "")Filter Ingredients</summary>

    <form asp-controller="@IngredientController.Name" asp-action="@nameof(IngredientController.All)" method="get" style="margin-top:1rem"
          onsubmit="submitButton.disabled=true;">
        <div style="margin-bottom:1ex;">
            <label asp-for="Name" class="control-label">@Html.DisplayNameFor(_ => Model.Name)</label>
            <input asp-for="Name" type="text" class="form-control" />
        </div>
        <div style="margin-bottom:1ex;">
            <label asp-for="Section" class="control-label">@Html.DisplayNameFor(_ => Model.Section)</label>
            <select asp-for="Section" class="form-control"
                    asp-items='@(EnumExtensions.GetValuesExcluding32(Section.None, Section.All, Section.Debug).AsSelectListItems32(EnumViewExtensions.EnumOrdering.Text).Prepend(new SelectListItem() { Text = "" }))'>
            </select>
        </div>
        <div class="row pt-1">
            <div class="col">
                <input type="submit" value="Apply" class="btn btn-secondary" name="submitButton" />
            </div>
            <div class="col-auto">
                <a class="btn btn-outline-secondary" asp-controller="@IngredientController.Name" asp-action="@nameof(IngredientController.All)">Clear</a>
            </div>
        </div>
    </form>
</details>

<component type="typeof(Lib.Pages.Shared.Ingredient.IngredientSecton)" render-mode="Static" param-Ingredients='Model.Ingredients' param-Theme='RecipeTheme.None' param-Verbosity="Verbosity.Debug" />
