@model ManageNutrientViewModel
@using Web.Controllers.Nutrients

@{
    ViewData[ViewData_Blank.Title] = "Nutrient";
}

<div class="row gy-2 mb-2 mt-1 justify-content-between align-items-end">
    <div class="col-auto mb-3">
        <h1 class="primary-heading">Nutrient</h1>
        <h2 class="sub-heading mt-0 ps-1">@Model.Nutrient.Key</h2>
    </div>
    <partial name="_ValidationMessagePartial" model='new ValidationMessagePartialModel() { WasUpdated = Model.WasUpdated, GoBackOnSave = true }' />
</div>

<div class="alert alert-secondary">
    <form asp-controller="@NutrientController.Name" asp-action="@nameof(NutrientController.UpsertNutrient)"
          asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" asp-route-nutrient="@Model.Nutrient" method="post"
          id="nutrient-form" class="row row-gap-3">
        
        <input type="hidden" asp-for="Nutrient.Id" />

        <div class="form-group col">
            <label asp-for="Nutrient.Key"></label>
            <input asp-for="Nutrient.Key" class="form-control" />
            <span asp-validation-for="Nutrient.Key" class="text-danger"></span>
        </div>

        <div class="form-group col">
            <label asp-for="Nutrient.Name"></label>
            <input asp-for="Nutrient.Name" class="form-control" />
            <span asp-validation-for="Nutrient.Name" class="text-danger"></span>
        </div>

        <div class="form-group col-auto">
            <label asp-for="Nutrient.Order"></label>
            <input asp-for="Nutrient.Order" class="form-control" />
            <span asp-validation-for="Nutrient.Order" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Nutrient.Notes"></label>
            <textarea asp-for="Nutrient.Notes" class="form-control"></textarea>
            <span asp-validation-for="Nutrient.Notes" class="text-danger"></span>
        </div>

        <div class="col">
            <button type="submit" class="btn btn-primary" form="nutrient-form">Save</button>
        </div>
    </form>
</div>

<form asp-controller="@NutrientController.Name" asp-action="@nameof(NutrientController.UpsertDietaryIntake)"
      asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" asp-route-nutrient="@Model.Nutrient" method="post"
      id="dietary-intake-form">

    <table class="table table-bordered align-middle">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.DietaryIntakes[0].Min)</th>
                <th>@Html.DisplayNameFor(m => m.DietaryIntakes[0].Max)</th>
                <th>@Html.DisplayNameFor(m => m.DietaryIntakes[0].CaloriesPerGram)</th>
                <th>@Html.DisplayNameFor(m => m.DietaryIntakes[0].Measure)</th>
                <th>@Html.DisplayNameFor(m => m.DietaryIntakes[0].Multiplier)</th>
                <th>@Html.DisplayNameFor(m => m.DietaryIntakes[0].Person)</th>
                <th>@Html.DisplayNameFor(m => m.DietaryIntakes[0].Source)</th>
                <th>@Html.DisplayNameFor(m => m.DietaryIntakes[0].Notes)</th>
                <th><button type="submit" class="btn btn-secondary" form="dietary-intake-form">Update</button></th>
            </tr>
        </thead>
        <tbody>
            @* NOTE: Disabled inputs don't send up form values *@
            @for (int i = 0; i < Model.DietaryIntakes.Count; i++)
            {
                <tr>
                    <td class="p-0">
                        <input asp-for="Nutrient.Id" type="hidden" />
                        <input asp-for="Nutrient.Key" type="hidden" />
                        <input asp-for="DietaryIntakes[@i].Id" type="hidden" />
                        <input asp-for="DietaryIntakes[@i].Min" type="number" class="form-control form-control-sm" />
                        <span asp-validation-for="DietaryIntakes[@i].Min" class="text-danger"></span>
                    </td>

                    <td class="p-0">
                        <input asp-for="DietaryIntakes[@i].Max" type="number" class="form-control form-control-sm" />
                        <span asp-validation-for="DietaryIntakes[@i].Max" class="text-danger"></span>
                    </td>

                    <td class="p-0">
                        <input asp-for="DietaryIntakes[@i].CaloriesPerGram" class="form-control form-control-sm" />
                        <span asp-validation-for="DietaryIntakes[@i].CaloriesPerGram" class="text-danger"></span>
                    </td>

                    <td class="p-0">
                        <select asp-for="DietaryIntakes[@i].Measure" class="form-select form-select-sm"
                                asp-items="@(MeasureConsts.DietaryIntakeMeasures.AsSelectListItems(EnumViewExtensions.EnumOrdering.Order))">
                        </select>
                        <span asp-validation-for="DietaryIntakes[@i].Measure" class="text-danger"></span>
                    </td>

                    <td class="p-0">
                        <select asp-for="DietaryIntakes[@i].Multiplier" class="form-select form-select-sm"
                                asp-items="@(Enum.GetValues<Multiplier>().AsSelectListItems(EnumViewExtensions.EnumOrdering.Order))">
                        </select>
                        <span asp-validation-for="DietaryIntakes[@i].Multiplier" class="text-danger"></span>
                    </td>

                    <td class="p-0">
                        <input asp-for="DietaryIntakes[@i].Person" type="hidden" />
                        <select asp-for="DietaryIntakes[@i].Person" class="form-select form-select-sm" disabled="disabled"
                                asp-items="@(Enum.GetValues<Person>().AsSelectListItems(EnumViewExtensions.EnumOrdering.Order))">
                        </select>
                        <span asp-validation-for="DietaryIntakes[@i].Person" class="text-danger"></span>
                    </td>

                    <td class="p-0">
                        <input asp-for="DietaryIntakes[@i].Source" class="form-control form-control-sm" />
                        <span asp-validation-for="DietaryIntakes[@i].Source" class="text-danger"></span>
                    </td>

                    <td class="p-0">
                        <input asp-for="DietaryIntakes[@i].Notes" class="form-control form-control-sm" />
                        <span asp-validation-for="DietaryIntakes[@i].Notes" class="text-danger"></span>
                    </td>

                    <td class="py-0">@Model.DietaryIntakes[@i].LastUpdated</td>
                </tr>
            }
        </tbody>
    </table>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" model='new ValidationScriptsPartialViewModel() { IsDemoUser = Model.User.IsDemoUser }' />
}
