@model Web.ViewModels.User.Components.IngredientViewModel
@using Core.Models.Recipe
@using Web.Code.Extensions


<details class="mb-25">
    <summary class="mb-1 h5">
        @Html.DisplayNameFor(_ => Model.Ingredients)
        <span class="float-end">@Model.Ingredients.Count</span>
    </summary>

    <div class="alert alert-secondary" role="alert">
        <div class="mb-4">
            <h6 class="mb-1">New Ingredient</h6>
            <form asp-controller="@UserController.Name" class="alert alert-light shadow" asp-action="@nameof(UserController.AddIngredient)" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" method="post">
                <div class="form-group mb-3">
                    <label for="Name" class="control-label">Name</label>
                    <input type="text" name="Name" class="form-control" required="required" />
                </div>
                <div class="form-group mb-3">
                    <label for="Nutrients" class="control-label">Nutrients</label>
                    <select name="Nutrients" class="form-control" asp-items="@(EnumExtensions.GetSingleOrNoneValues32<Nutrients>().AsSelectListItems32(EnumViewExtensions.EnumOrdering.Text, Nutrients.None))"></select>
                </div>
                <div class="form-group mb-3">
                    <label for="Allergens" class="control-label">Allergens</label>
                    <select name="Allergens" class="form-control" multiple asp-items="@(EnumExtensions.GetSingleValues32<Allergy>().AsSelectListItems32(EnumViewExtensions.EnumOrdering.Text))"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-secondary" />
                    <div class="form-text">Ingredients are not encrypted. Avoid entering in any sensitive information.</div>
                </div>
            </form>
        </div>

        @foreach (var ingredient in Model.Ingredients)
        {
            <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.RemoveIngredient)" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="IngredientId" asp-for="@ingredient.Id" />

                <div class="form-group mt-3">
                    <div class="input-group">
                        <textarea class="form-control" disabled="disabled" aria-describedby="exercise-help" rows="2">@ingredient.Name</textarea>
                        <input type="submit" value="-" class="btn btn-outline-secondary" />
                    </div>
                    <span for="FootnoteId" class="text-danger"></span>
                    <div class="form-text font-size--smaller">
                        @*ingredient.Nutrients.GetSingleDisplayName()*@
                    </div>
                </div>
            </form>
        }
    </div>
</details>