@page "/"
@inject AppState AppState
@inject DisplayHelper DH
@inject IOptions<SiteSettings> SiteSettings
@inject NewsletterService NewsletterService
@inject NavigationManager Navigation

@if (Error != null)
{
    <div>@Error</div>
}
else if (Model == null)
{
    <div>Loading...</div>
}
else
{
    var isDebugWorkout = Model.User.Features.HasFlag(Features.Debug);
    var recipeNames = string.Join(", ", Model.Recipes.GroupBy(e => e.Recipe).Select(g => g.Key.Name));

    <Lib.Pages.Shared.Newsletter._Preview Model='@($"{recipeNames}")' />

    <div style="margin-bottom:1rem;">
        @if (!Model.User.Features.HasFlag(Features.Demo))
        {
            <h6 style="margin-block:0;">
                <a target="_blank" href="@DH.NewsletterLink(Model.User, Model.UserFeast.Date)">@Model.UserFeast.Date.ToLongDateString()</a>
            </h6>
        }
        <h1 style="margin-block:0;">Weekly Meal Plan</h1>
        @if (Model.Client == Client.Email)
        {
            <h4 style="margin-block:0;display:inline-block;">
                <a target="_blank" href="@DH.ShoppingLink(Model.User, Model.UserFeast.Date)">Shopping List</a>
            </h4>
        }
    </div>

    <Lib.Pages.Shared.Newsletter._UserStatusMessages User="Model.User" />

    <Lib.Pages.Shared.Newsletter.Footnote User="Model.User" Verbosity="Model.Verbosity" Type="Footnote.FootnoteComponentType.User" Count="Model.User.FootnoteCountTop" />
    
    <div style="margin-block:1rem;">
        @if (Model.Client != Client.App && Model.Client != Client.Email)
        {
            <Lib.Pages.Shared.Newsletter.ShoppingList User="Model.User" Verbosity="Model.Verbosity" List="Model.ShoppingList" Client="Model.Client" />
        }

        @foreach (var sectionRecipes in Model.Recipes.GroupBy(r => r.Section).OrderBy(s => s.Key.GetOrder()))
        {
            <Lib.Pages.Shared.Recipe.RecipeSection User="Model.User" Verbosity="Model.Verbosity" Recipes="sectionRecipes.ToList()" Theme="sectionRecipes.Key.AsTheme()" Title="@(new RecipeSection.Titles(sectionRecipes.Key.GetSingleDisplayName()))" />
        }

        <Lib.Pages.Shared.Ingredient.IngredientSection User="Model.User" Ingredients="Model.DebugIngredients" Title="@(new Titles("Ingredients"))" />
        <Lib.Pages.Shared.Nutrients.NutrientSection User="Model.User" Nutrients="Model.DebugNutrients" Title="@(new Titles("Nutrients"))" />
    </div>

    <Lib.Pages.Shared.Newsletter.Footnote User="Model.User" Verbosity="Model.Verbosity" Type="Footnote.FootnoteComponentType.System" Count="Model.User.FootnoteCountBottom" HideFooter="Model.HideFooter" />

    @if (!Model.HideFooter)
    {
        <Lib.Pages.Shared.Newsletter._Footer User="Model.User" />

        if (Model.Client == Client.Web && !string.IsNullOrWhiteSpace(Model.UserFeast.Logs))
        {
            <hr style="margin-block:1ex;">
            <details>
                <summary>Debug Logs</summary>
                <pre>@Model.UserFeast.Logs</pre>
            </details>
        }
        else if (isDebugWorkout && !string.IsNullOrWhiteSpace(Model.UserFeast.Logs))
        {
            <hr style="margin-block:1ex;">
            <pre>@Model.UserFeast.Logs</pre>
        }
    }
}

@code {
    [Parameter]
    public NewsletterDto? Model { get; set; }

    public MarkupString? Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Model == null)
        {
            var apiResult = await NewsletterService.Newsletter(AppState.Email, AppState.Token, AppState.Date);
            (Model, Error) = (apiResult.StatusCode, apiResult.GetValueOrDefault()) switch
            {
                (StatusCodeRange.Successful, not null) => (apiResult.Value, (MarkupString?)null),
                (StatusCodeRange.Successful, null) => (null, new MarkupString("Enjoy your rest day!")),
                (StatusCodeRange.ClientError, _) => (null, new MarkupString("Invalid credentials.")),
                (_, _) => (null, new MarkupString($"Request failed. Check for an updated app version <a href='{SiteSettings.Value.Source}/releases'>here</a>.")),
            };
        }
    }
}