@page "/"
@inject AppState AppState
@inject DisplayHelper DH
@inject IOptions<SiteSettings> SiteSettings
@inject NewsletterService NewsletterService
@inject NavigationManager Navigation
@using Core.Models.Recipe
@using Core.Models.Newsletter
@using Core.Models.Footnote
@using Core.Models.User
@using Core.Dtos.Newsletter
@using Shared.Recipe
@using Shared.Ingredient

@if (Error != null)
{
    <div>@Error</div>
}
else if (Model == null)
{
    <div>Loading...</div>
}
else
{
    var isDebugWorkout = Model.User.Features.HasFlag(Features.Debug);
    <Lib.Pages.Shared.Newsletter._Preview Model='@($"Feasts")' />

    <div style="margin-bottom:1rem;">
        <h6 style="margin-block:0;"><a target="_blank" href="@DH.NewsletterLink(Model.User, Model.Today)">@Model.Today.ToLongDateString()</a></h6>
        <h1 style="margin-block:0;">Weekly Meal Plan</h1>
    </div>

    <Lib.Pages.Shared.Newsletter._UserStatusMessages User="Model.User" />

    <Lib.Pages.Shared.Newsletter.Footnote User="Model.User" Verbosity="Model.Verbosity" Type="Shared.Newsletter.Footnote.FootnoteComponentType.User" Count="Model.User.FootnoteCountTop" />
    
    <div style="margin-block:1rem;">
        @if (Model.Client != Core.Models.Client.App) 
        {
            <Lib.Pages.Shared.Newsletter.ShoppingList User="Model.User" Verbosity="Model.Verbosity" List="Model.ShoppingList" />
        }

        <Lib.Pages.Shared.Recipe.RecipeSection User="Model.User" Verbosity="Model.Verbosity" Recipes="Model.BreakfastRecipes" Theme="RecipeTheme.Warmup" Title="@(new RecipeSection.Titles("Breakfast"))" />
        <Lib.Pages.Shared.Recipe.RecipeSection User="Model.User" Verbosity="Model.Verbosity" Recipes="Model.LunchRecipes" Theme="RecipeTheme.Main" Title="@(new RecipeSection.Titles("Lunch"))" />
        <Lib.Pages.Shared.Recipe.RecipeSection User="Model.User" Verbosity="Model.Verbosity" Recipes="Model.DinnerRecipes" Theme="RecipeTheme.Main" Title="@(new RecipeSection.Titles("Dinner"))" />
        <Lib.Pages.Shared.Recipe.RecipeSection User="Model.User" Verbosity="Model.Verbosity" Recipes="Model.SideRecipes" Theme="RecipeTheme.Cooldown" Title="@(new RecipeSection.Titles("Sides"))" />
        <Lib.Pages.Shared.Recipe.RecipeSection User="Model.User" Verbosity="Model.Verbosity" Recipes="Model.SnackRecipes" Theme="RecipeTheme.Other" Title="@(new RecipeSection.Titles("Snacks"))" />
        <Lib.Pages.Shared.Recipe.RecipeSection User="Model.User" Verbosity="Model.Verbosity" Recipes="Model.DessertRecipes" Theme="RecipeTheme.Other" Title="@(new RecipeSection.Titles("Desserts"))" />
        <Lib.Pages.Shared.Ingredient.IngredientSecton User="Model.User" Ingredients="Model.DebugIngredients" Title="@(new IngredientSecton.Titles("Ingredients"))" />
    </div>

    <Lib.Pages.Shared.Newsletter.Footnote User="Model.User" Verbosity="Model.Verbosity" Type="Shared.Newsletter.Footnote.FootnoteComponentType.System" Count="Model.User.FootnoteCountBottom" />

    @if (!Model.HideFooter)
    {
        <hr style="margin-block:1ex;">

        <Lib.Pages.Shared.Newsletter._Footer User="Model.User" />
    }
}

@code {
    [Parameter]
    public NewsletterDto? Model { get; set; }

    public MarkupString? Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Model == null)
        {
            var apiResult = await NewsletterService.Newsletter(AppState.Email, AppState.Token, AppState.Date);
            (Model, Error) = (apiResult.StatusCode, apiResult.Result) switch
            {
                (StatusCodeRange.Successful, not null) => (apiResult.Result, (MarkupString?)null),
                (StatusCodeRange.Successful, null) => (null, new MarkupString("Enjoy your rest day!")),
                (StatusCodeRange.ClientError, _) => (null, new MarkupString("Invalid credentials.")),
                (_, _) => (null, new MarkupString($"Request failed. Check for an updated app version <a href='{SiteSettings.Value.Source}/releases'>here</a>.")),
            };
        }
    }
}