@page "/"
@inject AppState AppState
@inject DisplayHelper DH
@inject NewsletterService NewsletterService
@inject NavigationManager Navigation
@using Core.Models.Recipe
@using Core.Models.Newsletter
@using Core.Models.Footnote
@using Core.Models.User
@using Shared.Recipe
@using Shared.Ingredient

@if (Error != null)
{
    <div>@Error</div>
}
else if (Model == null)
{
    <div>Loading...</div>
}
else
{
    var isDebugWorkout = Model.User.Features.HasFlag(Features.Debug);
    <Lib.Pages.Shared.Newsletter._Preview Model='@($"Feasts")' />

    <div style="margin-bottom:1rem;">
        <h6 style="margin-block:0;"><a target="_blank" href="@DH.NewsletterLink(Model.User, Model.Today)">@Model.Today.ToLongDateString()</a></h6>
        <h1 style="margin-block:0;">Weekly Meal Plan</h1>
    </div>

    <Lib.Pages.Shared.Newsletter._UserStatusMessages User="Model.User" />

    <Lib.Pages.Shared.Newsletter.Footnote User="Model.User" Verbosity="Model.Verbosity" Type="Shared.Newsletter.Footnote.FootnoteComponentType.User" Count="Model.User.FootnoteCountTop" />
    
    <div style="margin-block:1rem;">
        <Lib.Pages.Shared.Newsletter.ShoppingList User="Model.User" Verbosity="Model.Verbosity" List="Model.AllRecipes.SelectMany(r => r.Recipe.RecipeIngredients).ToList()" />

        <Lib.Pages.Shared.Recipe.RecipeSection User="Model.User" Verbosity="Model.Verbosity" Recipes="Model.BreakfastRecipes" Theme="RecipeTheme.Warmup" Title="@(new RecipeSection.Titles("Breakfast"))" />
        <Lib.Pages.Shared.Recipe.RecipeSection User="Model.User" Verbosity="Model.Verbosity" Recipes="Model.LunchRecipes" Theme="RecipeTheme.Main" Title="@(new RecipeSection.Titles("Lunch"))" />
        <Lib.Pages.Shared.Recipe.RecipeSection User="Model.User" Verbosity="Model.Verbosity" Recipes="Model.DinnerRecipes" Theme="RecipeTheme.Main" Title="@(new RecipeSection.Titles("Dinner"))" />
        <Lib.Pages.Shared.Recipe.RecipeSection User="Model.User" Verbosity="Model.Verbosity" Recipes="Model.SideRecipes" Theme="RecipeTheme.Cooldown" Title="@(new RecipeSection.Titles("Sides"))" />
        <Lib.Pages.Shared.Recipe.RecipeSection User="Model.User" Verbosity="Model.Verbosity" Recipes="Model.SnackRecipes" Theme="RecipeTheme.Other" Title="@(new RecipeSection.Titles("Snacks"))" />
        <Lib.Pages.Shared.Recipe.RecipeSection User="Model.User" Verbosity="Model.Verbosity" Recipes="Model.DessertRecipes" Theme="RecipeTheme.Other" Title="@(new RecipeSection.Titles("Desserts"))" />
        <Lib.Pages.Shared.Ingredient.IngredientSecton User="Model.User" Ingredients="Model.DebugIngredients" Title="@(new IngredientSecton.Titles("Ingredients"))" />
    </div>

    <Lib.Pages.Shared.Newsletter.Footnote User="Model.User" Verbosity="Model.Verbosity" Type="Shared.Newsletter.Footnote.FootnoteComponentType.System" Count="Model.User.FootnoteCountBottom" />

    @if (!Model.HideFooter)
    {
        <hr style="margin-block:1ex;">

        <Lib.Pages.Shared.Newsletter._Footer User="Model.User" />
    }
}

@code {
    [Parameter]
    public ViewModels.Newsletter.NewsletterViewModel? Model { get; set; }

    public string? Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Model == null)
        {
            Model = await NewsletterService.Newsletter(AppState.Email, AppState.Token, AppState.Date);

            if (Model == null)
            {
                // TODO Differentiate between server blip and user's login token is no longer valid.
                Error = "Request failed.";
            }
        }
    }
}