@page "/"
@inject AppState AppState
@inject DisplayHelper DH
@inject IOptions<SiteSettings> SiteSettings
@inject NewsletterService NewsletterService
@inject NavigationManager Navigation
@using Core.Models.Recipe
@using Core.Models.Newsletter
@using Core.Models.Footnote
@using Core.Models.User
@using Core.Dtos.Newsletter
@using Shared.Recipe
@using Shared.Ingredient

@if (Error != null)
{
    <div>@Error</div>
}
else if (Model == null)
{
    <div>Loading...</div>
}
else
{
    var isDebugWorkout = Model.User.Features.HasFlag(Features.Debug);
    var recipeNames = string.Join(", ", Model.Recipes.GroupBy(e => e.Recipe).Select(g => g.Key.Name));

    <Lib.Pages.Shared.Newsletter._Preview Model='@($"{recipeNames}")' />

    <div style="margin-bottom:1rem;">
        <h6 style="margin-block:0;"><a target="_blank" href="@DH.NewsletterLink(Model.User, Model.Date)">@Model.Date.ToLongDateString()</a></h6>
        <h1 style="margin-block:0;">Weekly Meal Plan</h1>
    </div>

    <Lib.Pages.Shared.Newsletter._UserStatusMessages User="Model.User" />

    <Lib.Pages.Shared.Newsletter.Footnote User="Model.User" Verbosity="Model.Verbosity" Type="Shared.Newsletter.Footnote.FootnoteComponentType.User" Count="Model.User.FootnoteCountTop" />
    
    <div style="margin-block:1rem;">
        @if (Model.Client != Core.Models.Client.App) 
        {
            <Lib.Pages.Shared.Newsletter.ShoppingList User="Model.User" Verbosity="Model.Verbosity" List="Model.ShoppingList" />
        }

        @foreach (var section in Enum.GetValues<Section>().OrderBy(s => s.GetDisplayName(DisplayType.Order).Length).ThenBy(s => s.GetDisplayName(DisplayType.Order)))
        {
            <Lib.Pages.Shared.Recipe.RecipeSection User="Model.User" Verbosity="Model.Verbosity" Recipes="Model.Recipes.Where(r => r.Section == section).ToList()" Theme="section.AsTheme()" Title="@(new RecipeSection.Titles(section.GetSingleDisplayName()))" />
        }

        <Lib.Pages.Shared.Ingredient.IngredientSection User="Model.User" Ingredients="Model.DebugIngredients" Title="@(new IngredientSection.Titles("Ingredients"))" />
    </div>

    <Lib.Pages.Shared.Newsletter.Footnote User="Model.User" Verbosity="Model.Verbosity" Type="Shared.Newsletter.Footnote.FootnoteComponentType.System" Count="Model.User.FootnoteCountBottom" />

    @if (!Model.HideFooter)
    {
        <Lib.Pages.Shared.Newsletter._Footer User="Model.User" />

        if (Model.Client == Client.Web && !string.IsNullOrWhiteSpace(Model.UserFeast.Logs))
        {
            <hr style="margin-block:1ex;">
            <details>
                <summary>Debug Logs</summary>
                <pre>@Model.UserFeast.Logs</pre>
            </details>
        }
    }
}

@code {
    [Parameter]
    public NewsletterDto? Model { get; set; }

    public MarkupString? Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Model == null)
        {
            var apiResult = await NewsletterService.Newsletter(AppState.Email, AppState.Token, AppState.Date);
            (Model, Error) = (apiResult.StatusCode, apiResult.GetValueOrDefault()) switch
            {
                (StatusCodeRange.Successful, not null) => (apiResult.Value, (MarkupString?)null),
                (StatusCodeRange.Successful, null) => (null, new MarkupString("Enjoy your rest day!")),
                (StatusCodeRange.ClientError, _) => (null, new MarkupString("Invalid credentials.")),
                (_, _) => (null, new MarkupString($"Request failed. Check for an updated app version <a href='{SiteSettings.Value.Source}/releases'>here</a>.")),
            };
        }
    }
}