@using Web.Controllers.Recipe

@{
    Layout = "_Blank";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/js/theme.js" asp-append-version="true"></script>
    @*<script src="_framework/blazor.server.js"></script>*@
}

<header class="shadow">
    <div class="container">
        <div class="row gy-1 align-items-center justify-content-between">
            <div class="col-auto">
                <a class="row g-1 text-dark text-decoration--none align-items-center hover" href="/">
                    <div class="col-auto d-flex justify-content-center site-logo">
                        @Html.Raw(File.ReadAllText(System.IO.Path.Combine(_webHostEnvironment.WebRootPath, "images/favicon-current-color.svg")))
                    </div>
                    <div class="col site-name">
                        @_siteSettings.Value.Name
                    </div>
                </a>
            </div>
            
            <div class="col-auto">
                <a class="text-dark px-1 hover" asp-controller="@RecipeController.Name" asp-action="@nameof(RecipeController.All)">Recipes</a>
            </div>
        </div>
    </div>
</header>

<main id="main" role="main">
    <div class="container">
        @RenderBody()
    </div>
</main>

<footer class="shadow">
    <div class="container">
        <div class="row">
            <div class="col-auto"><a class="text-dark text-decoration--none hover" href="#">&copy; 2023-@DateTime.UtcNow.Year Graham Scanlon</a></div>
            <div class="col-auto"><a class="text-muted hover" href="@_siteSettings.Value.Source">Source</a></div>
            <div class="col-auto"><a class="text-muted hover" asp-area="" asp-page="/ImageAttribution">Attribution</a></div>
            <div class="col-auto"><a class="text-muted hover" asp-area="" asp-page="/Terms">Terms of Use</a></div>
            <div class="col"><a class="text-muted hover" asp-area="" asp-page="/Privacy">Privacy</a></div>
        </div>
    </div>
</footer>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
}