@model IngredientCookedViewModel
@using Core.Dtos.Ingredient
@using Core.Models.Ingredients
@using Core.Models.Recipe
@using Core.Models.User
@using Lib.Pages.Shared.Ingredient

<div @* no-nested-rows *@>
    <h5 class="mb-1">@Html.DisplayNameFor(_ => Model.CookedIngredients)</h5>
    <div class="alert alert-secondary">
        <div class="row gy-4 ">
            @for (int id = 0; id < Model.CookedIngredients.Count; id++)
            {
                var cookedIngredient = Model.CookedIngredients[id];
                <div class="col-12">
                    <h5>@cookedIngredient.CookingMethod.GetSingleDisplayName()</h5>
                    <form asp-controller="@IngredientController.Name" asp-action="@nameof(IngredientController.SetCookingIngredient)" method="post" class="row"
                          asp-route-email="@Model.Email" asp-route-token="@Model.Token" asp-route-ingredientId="@Model.IngredientId">
                        <input type="hidden" name="@nameof(cookedIngredient.IngredientId)" value="@Model.IngredientId" autocomplete="off" />
                        <input type="hidden" name="@nameof(cookedIngredient.CookingMethod)" value="@cookedIngredient.CookingMethod" autocomplete="off" />

                        <div class="col-md">
                            <label for="@nameof(cookedIngredient.CookedIngredientId)" class="control-label">@Html.DisplayNameFor(_ => cookedIngredient.CookedIngredientId)</label>
                            <select name="@nameof(cookedIngredient.CookedIngredientId)" asp-for="CookedIngredients[id].CookedIngredientId" asp-items="@Model.IngredientSelect" 
                                    class="form-control searchable" style="width:100%;" aria-describedby="ingredient-help" autocomplete="off">
                            </select>
                            <span for="@nameof(cookedIngredient.CookedIngredientId)" class="text-danger"></span>
                            <span id="ingredient-help" class="form-text">@Html.DisplayDescriptionFor(_ => cookedIngredient.CookedIngredientId)</span>
                        </div>
                        <div class="col my-1">
                            <label for="@nameof(cookedIngredient.Scale)" class="control-label">@Html.DisplayNameFor(_ => cookedIngredient.Scale)</label>
                            <div class="d-flex column-gap-2 align-items-center">
                                <output name="chartDaysOutput@((int)cookedIngredient.CookingMethod)">@cookedIngredient.Scale</output>
                                <div class="d-flex w-100">
                                    <input name="@nameof(cookedIngredient.Scale)" type="range" class="col p-0 align-self-end" style="width:100%;" aria-describedby="chart-days-help" value="@cookedIngredient.Scale"
                                           min="@IngredientConsts.CookedScaleMin" max="@IngredientConsts.CookedScaleMax" step="@IngredientConsts.CookedScaleStep" 
                                           oninput="chartDaysOutput@((int)cookedIngredient.CookingMethod).value = this.valueAsNumber;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-auto mt-4">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                    <component type="typeof(IngredientSection)" render-mode="Static" param-User="Model.UserNewsletter" param-Ingredients='new List<IngredientDto>() { cookedIngredient.CookedIngredient.AsType<IngredientDto>()! }' />
                </div>
            }
        </div>
    </div>
</div>
