@model Views.Shared.Components.ManageIngredient.ManageIngredientViewModel
@using Lib.Pages.Shared.Ingredient
@using System.Numerics
@using Core.Models.Recipe
@using Core.Consts

@if (Model.UserIngredient.SubstituteRecipeId.HasValue == true && !Model.Recipes.Select(r => r.Id).Contains(Model.UserIngredient.SubstituteRecipeId.Value))
{
    <div class="alert alert-warning">
        Your current selected substitute recipe conflicts with your allergens or equipment. Please select a new substitution.
    </div>
}

<h6 class="mb-1">Ingredient</h6>
<div class="alert alert-light shadow">
    <form asp-controller="@IngredientController.Name" asp-action="@nameof(IngredientController.IgnoreIngredient)" method="post"
          asp-route-email="@Model.Parameters.Email" asp-route-token="@Model.Parameters.Token" asp-route-recipeId="@Model.Parameters.RecipeId" asp-route-ingredientId="@Model.Parameters.IngredientId">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group mb-3">
            <label for="Recipe-name" class="control-label">@Html.DisplayNameFor(_ => Model.Ingredient)</label>
            <div class="input-group">
                <textarea id="Recipe-name" class="form-control" disabled="disabled" aria-describedby="Recipe-help" rows="1">@Model.Ingredient.Name</textarea>
                <input type="submit" value="@(Model.UserIngredient.Ignore ? "Ignored" : "Ignore")" class="btn btn-outline-secondary" />
            </div>
            <span asp-validation-for="Ingredient" class="text-danger"></span>
            <div id="Recipe-help" class="form-text">
                @Html.DisplayDescriptionFor(_ => Model.Ingredient)
            </div>
        </div>
    </form>

    <form asp-controller="@IngredientController.Name" asp-action="@nameof(IngredientController.ManageIngredient)" method="post" class="mb-4"
          asp-route-email="@Model.Parameters.Email" asp-route-token="@Model.Parameters.Token" asp-route-recipeId="@Model.Parameters.RecipeId" asp-route-ingredientId="@Model.Ingredient.Id">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group mb-3 mt-3">
            <label for="Notes" class="control-label">@Html.DisplayNameFor(_ => Model.UserIngredient.Notes)</label>
            <input type="text" asp-for="UserIngredient.Notes" class="form-control" aria-describedby="exercise-notes-help" rows="1" value="@Model.UserIngredient.Notes" />
            <span asp-validation-for="UserIngredient.Notes" class="text-danger"></span>
        </div>

        <div class="form-group row row-gap-2 my-3">
            <div class="col-md">
                <label asp-for="UserIngredient.SubstituteIngredientId" class="control-label">@Html.DisplayNameFor(_ => Model.UserIngredient.SubstituteIngredientId)</label>
                <select asp-for="UserIngredient.SubstituteIngredientId" class="form-control searchable" aria-describedby="ingredient-help"
                        asp-items="@(Model.Ingredients.Select(i => new SelectListItem() { Text = i.Name, Value = i.Id.ToString() }).Prepend(new SelectListItem()))">
                </select>
                <span asp-validation-for="UserIngredient.SubstituteIngredientId" class="text-danger"></span>
                <span id="ingredient-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserIngredient.SubstituteIngredientId)</span>
            </div>

            <div class="col-md">
                <label asp-for="UserIngredient.SubstituteRecipeId" class="control-label">@Html.DisplayNameFor(_ => Model.UserIngredient.SubstituteRecipeId)</label>
                <select asp-for="UserIngredient.SubstituteRecipeId" class="form-control searchable" aria-describedby="ingredient-recipe-help"
                        asp-items="@(Model.Recipes.Select(i => new SelectListItem() { Text = i.Name, Value = i.Id.ToString() }).Prepend(new SelectListItem()))">
                </select>
                <span asp-validation-for="UserIngredient.SubstituteRecipeId" class="text-danger"></span>
                <span id="ingredient-recipe-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserIngredient.SubstituteRecipeId)</span>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

    <component type="typeof(Microsoft.AspNetCore.Components.CascadingValue<Core.Dtos.User.UserNewsletterDto?>)" render-mode="Static" param-Value="null">
        <component type="typeof(Lib.Pages.Shared.Ingredient._Ingredient)" render-mode="Static" param-Model='Model.Ingredient' />
    </component>

    <component type="typeof(Lib.Pages.Shared.Ingredient.IngredientSection)" render-mode="Static" param-User="Model.UserNewsletter" param-RecipeId="Model.Parameters.RecipeId" param-Ingredients='Model.Ingredients' param-Title='new IngredientSection.Titles("Alternative Ingredients")' />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" model='new ValidationScriptsPartialViewModel() { IsDemoUser = Model.User.IsDemoUser }' />
}
