@model ManageIngredientViewModel
@using Lib.Pages.Shared.Recipe
@using Microsoft.AspNetCore.Components
@using Core.Dtos.User

<div class="alert alert-light shadow mb-0">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label for="ingredient-name" class="control-label">@Html.DisplayNameFor(_ => Model.Ingredient)</label>
        <div class="input-group">
            <textarea id="ingredient-name" class="form-control" disabled="disabled" aria-describedby="ingredient-help" rows="1">@Model.Ingredient.Name</textarea>
        </div>

        <span asp-validation-for="Ingredient" class="text-danger"></span>
        <div id="ingredient-help" class="form-text">
            @Html.DisplayDescriptionFor(_ => Model.Ingredient)
        </div>
    </div>

    <form asp-controller="@UserIngredientsController.Name" asp-action="@nameof(UserIngredientsController.LogIngredient)" method="post"
          asp-route-email="@Model.Parameters.Email" asp-route-token="@Model.Parameters.Token" asp-route-ingredientId="@Model.Parameters.IngredientId">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3 mt-3">
            <label asp-for="Notes" class="control-label">@Html.DisplayNameFor(_ => Model.Notes)</label>
            <input type="text" asp-for="Notes" value="@Model.Notes" class="form-control" aria-describedby="notes-help" />
            <span asp-validation-for="Notes" class="text-danger"></span>
            <div id="notes-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.Notes)</div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
