@model AdvancedViewModel
@using Core.Models.Recipe
@using Data.Entities.User

<details class="mt-4 mb-25">
    <summary class="mb-1 h5">@(Model.IsNotDefault ? "*" : "")Advanced Preferences</summary>

    <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.EditAdvanced)" method="post"
          asp-route-email="@Model.Email" asp-route-token="@Model.Token"
         class="alert alert-secondary">

        <div class="mb-3">
            <div class="form-group mb-3">
                <label asp-for="AtLeastXUniqueNutrientsPerRecipe" class="control-label">@Html.DisplayNameFor(_ => Model.AtLeastXUniqueNutrientsPerRecipe)</label>
                <div style="display:flex;column-gap:1ex;">
                    <output name="OutputAtLeastXUniqueNutrientsPerRecipe" for="@Html.IdFor(_ => Model.AtLeastXUniqueNutrientsPerRecipe)">@Model.AtLeastXUniqueNutrientsPerRecipe</output>
                    <div style="display:flex;width:100%;">
                        <input asp-for="AtLeastXUniqueNutrientsPerRecipe" type="range" style="width:100%;" aria-describedby="refresh-functional-help"
                               step="1" min="1" max="9"
                               oninput="OutputAtLeastXUniqueNutrientsPerRecipe.value = this.valueAsNumber" list="ListAtLeastXUniqueNutrientsPerRecipe" />
                        <datalist id="ListAtLeastXUniqueNutrientsPerRecipe">
                            <option value="3"></option>
                        </datalist>
                    </div>
                </div>
                <span asp-validation-for="AtLeastXUniqueNutrientsPerRecipe" class="text-danger"></span>
                <div id="refresh-functional-help" class="form-text">
                    @Html.DisplayDescriptionFor(_ => Model.AtLeastXUniqueNutrientsPerRecipe)
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-group mb-3">
                <label asp-for="FootnoteCountTop" class="control-label">@Html.DisplayNameFor(_ => Model.FootnoteCountTop)</label>
                <div style="display:flex;column-gap:1ex;">
                    <output name="OutputFootnoteCountTop" for="@Html.IdFor(_ => Model.FootnoteCountTop)">@Model.FootnoteCountTop</output>
                    <div style="display:flex;width:100%;">
                        <input asp-for="FootnoteCountTop" type="range" style="width:100%;" aria-describedby="refresh-functional-help"
                               step="1" min="@Data.Entities.User.User.Consts.FootnoteCountMin" max="@Data.Entities.User.User.Consts.FootnoteCountMax"
                               oninput="OutputFootnoteCountTop.value = this.valueAsNumber" list="ListFootnoteCountTop" />
                        <datalist id="ListFootnoteCountTop">
                            <option value="@Data.Entities.User.User.Consts.FootnoteCountTopDefault"></option>
                        </datalist>
                    </div>
                </div>
                <span asp-validation-for="FootnoteCountTop" class="text-danger"></span>
                <div id="refresh-functional-help" class="form-text">
                    Footnote types that are shown above each workout: @FootnoteType.Custom.GetDisplayName32().
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-group mb-3">
                <label asp-for="FootnoteCountBottom" class="control-label">@Html.DisplayNameFor(_ => Model.FootnoteCountBottom)</label>
                <div style="display:flex;column-gap:1ex;">
                    <output name="OutputFootnoteCountBottom" for="@Html.IdFor(_ => Model.FootnoteCountBottom)">@Model.FootnoteCountBottom</output>
                    <div style="display:flex;width:100%;">
                        <input asp-for="FootnoteCountBottom" type="range" style="width:100%;" aria-describedby="refresh-functional-help"
                               step="1" min="@Data.Entities.User.User.Consts.FootnoteCountMin" max="@Data.Entities.User.User.Consts.FootnoteCountMax"
                               oninput="OutputFootnoteCountBottom.value = this.valueAsNumber" list="ListFootnoteCountBottom" />
                        <datalist id="ListFootnoteCountBottom">
                            <option value="@Data.Entities.User.User.Consts.FootnoteCountBottomDefault"></option>
                        </datalist>
                    </div>
                </div>
                <span asp-validation-for="FootnoteCountBottom" class="text-danger"></span>
                <div id="refresh-functional-help" class="form-text">
                    Footnote types that are shown below each workout: @FootnoteType.System.GetDisplayName32().
                </div>
            </div>
        </div>
        
        <div class="row form-group">
            <div class="col">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
            <div class="col-auto align-self-end">
                <script src="https://liberapay.com/afeastaday/widgets/button.js"></script>
                <noscript>
                    <a href="https://liberapay.com/afeastaday/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a>
                </noscript>
            </div>
        </div>
    </form>
</details>
