@page "/newsletter/footer"
@inject DisplayHelper DH
@inject IOptions<SiteSettings> SiteSettings
@using Core.Models.Options
@using Microsoft.Extensions.Options
@using Core.Models.User

@if (User == null)
{
    return;
}

@if (!User.Features.HasFlag(Features.Demo))
{
    <div><small><b>Send Days</b> - @User.SendDays.GetSingleDisplayName(EnumExtensions.DisplayNameType.ShortName)</small></div>

    <div><small><b>Footnotes</b> - @User.FootnoteType.GetDisplayName32()</small></div>

    <div style="margin-top:1ex;"><a target="_blank" href="@DH.UserLink(User, "")">Manage Preferences</a></div>

    <hr style="margin-block:1ex;">
    <div><a href="@DH.UserLink(User, "d")">Unsubscribe</a></div>

    <hr style="margin-block:1ex;">
    <div><a href="@SiteSettings.Value.WebLink/ImageAttribution">Image Attribution</a></div>

    <hr style="margin-block:1ex;">
    <div><a href="@SiteSettings.Value.WebLink/Terms">Terms of Use</a> | <a href="@SiteSettings.Value.WebLink/Privacy">Privacy</a></div>

    <hr style="margin-block:1ex;">
    <div><a href="mailto:help@@@SiteSettings.Value.Domain">Contact Us</a> | <a href="@SiteSettings.Value.Source">Source</a></div>
}
else
{
    <div><a href="@SiteSettings.Value.WebLink/ImageAttribution">Image Attribution</a></div>

    <hr style="margin-block:1ex;">
    <div><a href="@SiteSettings.Value.WebLink/Terms">Terms of Use</a> | <a href="@SiteSettings.Value.WebLink/Privacy">Privacy</a></div>    
}

<hr style="margin-block:1ex;">
<div><small><a href="@SiteSettings.Value.WebLink">&copy; 2022-@DateTime.UtcNow.Year Graham Scanlon</a></small></div>

@code {
    [Parameter, EditorRequired]
    public ViewModels.User.UserNewsletterViewModel? User { get; set; }
}