@model Views.Shared.Components.ManageRecipe.ManageRecipeViewModel
@using System.Numerics
@using Core.Models.Recipe
@using Core.Consts

<h6 class="mb-1">Recipe</h6>
<div class="alert alert-light shadow">
    <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.IgnoreRecipe)" method="post"
          asp-route-email="@Model.Parameters.Email" asp-route-token="@Model.Parameters.Token" asp-route-section="@Model.Parameters.Section" asp-route-recipeId="@Model.Parameters.RecipeId">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group mb-3">
            <label for="Recipe-name" class="control-label">@Html.DisplayNameFor(_ => Model.Recipe)</label>
            <div class="input-group">
                <textarea id="Recipe-name" class="form-control" disabled="disabled" aria-describedby="Recipe-help" rows="1">@Model.Recipe.Name</textarea>
                <input type="submit" value="@(Model.UserRecipe.Ignore ? "Ignored" : "Ignore")" class="btn btn-outline-secondary" @(Model.User.IsDemoUser ? "disabled='disabled'" : "") />
            </div>
            <span asp-validation-for="Recipe" class="text-danger"></span>
            <div id="Recipe-help" class="form-text">
                @Html.DisplayDescriptionFor(_ => Model.Recipe)
            </div>
        </div>
    </form>

    <div class="form-group mb-3">
        <label for="Recipe-variation-date" class="control-label">Favorite?</label>
        <div class="input-group">
            <input type="text" id="Recipe-variation-primary" class="form-control" disabled="disabled" aria-describedby="Recipe-variation-primary-help" rows="1" value="@(Model.UserRecipe.Favorite.ToString())" />
            <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.IsFavorite)" method="post"
                  asp-route-email="@Model.Parameters.Email" asp-route-token="@Model.Parameters.Token" asp-route-section="@Model.Parameters.Section" asp-route-recipeId="@Model.Parameters.RecipeId" asp-route-favorite="@true">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="submit" value="True" class="btn btn-outline-secondary"
                        style="border-top-left-radius:0;border-bottom-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:0;" />
            </form>
            <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.IsFavorite)" method="post"
                  asp-route-email="@Model.Parameters.Email" asp-route-token="@Model.Parameters.Token" asp-route-section="@Model.Parameters.Section" asp-route-recipeId="@Model.Parameters.RecipeId" asp-route-favorite="@false">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="submit" value="False" class="btn btn-outline-secondary"
                       style="border-top-left-radius:0;border-bottom-left-radius:0;" />
            </form>
        </div>

        <span asp-validation-for="UserRecipe" class="text-danger"></span>
        <div id="Recipe-variation-primary-help" class="form-text">
            Secondary Recipes refresh immediately and are shown less often.
        </div>
    </div>
</div>
